### version: 1.8.0

version: "2"

networks:
  ns-tier:
    driver: bridge

services:
  mongodb:
    container_name: ns-database
    mem_limit: 400m
    mem_reservation: 100M
    restart: always
    image: "bitnami/mongodb:${NS_MONGODB_TAG}"
    environment:
      - MONGODB_EXTRA_FLAGS=--wiredTigerCacheSizeGB=0.4
    volumes:
      - "${NS_DATA_DIR}/mongodb:/bitnami/mongodb"
    ports:
      - ${INTERNAL_MONGO_PORT}:27017
    networks:
      - ns-tier

  dbbackup:
    container_name: ns-backup
    restart: always
    image: "tiredofit/db-backup:${NS_DBBACKUP_TAG}"
    volumes:
      - "${NS_DATA_DIR}/dbbackup:/backup"
    environment:
      - COMPRESSION="GZ"
      - COMPRESSION_LEVEL=9
      - DB_TYPE=mongo
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_CLEANUP_TIME=10080
      - CONTAINER_ENABLE_MONITORING=FALSE
    networks:
      - ns-tier
    depends_on:
      - mongodb

  nightscout:
    container_name: ns-server
    restart: always
    mem_limit: 200m
    mem_reservation: 100M
    image: "nightscout/cgm-remote-monitor:${NS_NIGHTSCOUT_TAG}"
    env_file:
      - ${NS_CONFIG_DIR}/nightscout.env
    ports:
      - 4004:1337
    networks:
      - ns-tier
    depends_on:
      - mongodb

        #  admin:
        #    container_name: ns-admin
        #    image: "node:20.5.1-bookworm-slim"
        #    working_dir: /home/node/app
        #    environment:
        #      - NODE_ENV=production
        #    volumes:
        #      - /home/dl/apps/ns_admin:/home/node/app
        #    ports:
        #      - "40404:4040"
        #    networks:
        #      - ns-tier
        #    command: "npm start"
  redis:
    container_name: ns-redis
    image: redis:7.2-alpine
    restart: always
    mem_limit: 80m
    command: redis-server --maxmemory 64mb
      #environment:
      #- REDIS_PERSIST=no
    ports:
      - "4045:6379"
    networks:
        - ns-tier

  web:
    container_name: ns-proxy
    image: ghcr.io/tofran/nginx-with-substitutions-filter
    restart: always
    volumes:
      - "${NS_CONFIG_DIR}:/etc/nginx/templates"
    ports:
      - ${NS_PORT}:80
    environment:
      - NGINX_PROXIED_PORT=4004
    networks:
      - ns-tier
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - nightscout
        #      - admin
