### version: 1.0.0

version: "2"

networks:
  app-tier:
    driver: bridge

services:
  mongodb:
    container_name: ns-database
    mem_limit: 200m
    mem_reservation: 100M
    cpus: 0.25
    restart: always
    image: "bitnami/mongodb:${NS_MONGODB_TAG}"
    volumes:
      - "${NS_DATA_DIR}/mongodb:/bitnami/mongodb"
    ports:
      - 27017:27017
    networks:
      - ns-tier

  dbbackup:
    container_name: ns-database-backup
    restart: always
    image: "tiredofit/db-backup:${NS_DBBACKUP_TAG}"
    volumes:
      - "${NS_DATA_DIR}/dbbackup:/backup"
    environment:
      - COMPRESSION="GZ"
      - COMPRESSION_LEVEL=9
      - DB_TYPE=mongo
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_CLEANUP_TIME=10080
    networks:
      - ns-tier
    depends_on:
      - mongodb

  nightscout:
    container_name: ns-server
    restart: always
    mem_limit: 200m
    mem_reservation: 100M
    cpus: 0.25
    image: "nightscout/cgm-remote-monitor:${NS_NIGHTSCOUT_TAG}"
    env_file:
      - ${NS_CONFIG_DIR}/nightscout.env
    ports:
      - ${NS_PORT}:1337
    networks:
      - ns-tier
    depends_on:
      - mongodb
    profiles:
      - admin